body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ---------------Navbar----------------------------- */
.Navbar {
  background-color: #3DCCC7;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}
.Navbar-Link {
  padding-right: 8px;
}

.Navbar-Items {
  display: flex;
}
.Navbar-Items--right {
  margin-left:auto;
}
.Navbar-Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .Navbar-Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar-Items {
    display:none;
  }
.Navbar-Items--right {
    margin-left:0;
  }
.Navbar-ToggleShow {
    display: flex;
  }
.Navbar-Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}

/* --------------Content-Area-Landing-Page------------------------- */
.container {
    display: flex;
}
.container div{
    
    border: 1px #3DCCC7 solid;
    padding: 10px;
    
}
.container2 div{
    border: 1px  #3DCCC7 solid;
    background-color:  #ED7D3A;
    opacity: 0.5;
    padding: 10px;
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    font-weight: bold;

    
}
.box-1 {
    flex: 2
}
.box-2 {
    flex: 1;
    display: flex;  
    flex-direction: column;
}

#lead_text, #logout {
    color: #ED7D3A;
    font-family: 'Kodchasan', sans-serif;
    cursor: pointer;
}
#quantity-att-prod {
 max-width: 50%;
 margin-left: 10px;
}
    

 table {
     font-family: 'Kodchasan', sans-serif;

 }

/* -------------Making Image Responsive --------------------------------*/

section {
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
}
.media { 
    min-width: 0;
    margin: 5px;
}
img {
    width: 450px;
    max-width: 100%; 
    max-height: 550px; 
}

/* ----------------Login Form-------------------------------------------- */
input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #ED7D3A;
}
#login-btn {
    background-color: #3DCCC7;
    width: 100%;
    padding: 12px 20px;
    color: azure;


}
input[type=submit] {
    background-color: #3DCCC7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}
.user,.password,  {
    color: #ED7D3A;
}

/* ---------------Footer--------------------- */
footer {
  margin: auto auto auto auto;
  
  display:flex;
}


/* ==============Admin Dashboard====================== */
.container-admin {
    display: flex;
    border: 1px #3DCCC7 solid;
    padding: 10px;  

}

.dash-link {
    color: #ED7D3A;    
    margin: auto auto auto auto;
    cursor: pointer;
    
}
.center {
    margin: 20px auto 20px auto;
}

.dash-link :hover {
    opacity: 0.8;
    cursor: pointer;
    color: #3DCCC7;
}

/* =============product list============== */
.container-products {
    display: flex;
    border: 1px #3DCCC7 solid;
    padding: 10px; 
}
th {
    margin: auto auto auto auto;
    padding: 10px;  
    

}
.main-table {
    padding: 10px;  
   
}
.table-data {
    
    border: 1px #3DCCC7 solid;
    padding: 5px;

}
tr:hover {
  background: #ddd;
}
/* .hidden {
    display: none;
} */

table {
  border-collapse: collapse;
  width: 100%;
}
#btn {
    color: #ED7D3A;
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}
#input-box {
    width: 250px;
    transition: width 0.4s ease-in-out;
}

#input-box:focus {
    width: 100%;
}

/* ==============Product Details=================== */
.container-detail {
    display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  font-family: arial;
  flex: 1
  
}
.card button {
  border: solid;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3DCCC7;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-right: 15px;
}

.card button:hover {
  opacity: 0.7;
}

.card h5, p {
    color: #ED7D3A;
    font-family: 'Kodchasan', sans-serif;
   
}
.card p {
    color: #000;
    font-weight: 20px;
}
.form-update {
    flex:2;
    padding-left: 20px;
}
.form-update h3 {
    color: #ED7D3A;
    font-family: 'Kodchasan', sans-serif;  
}
#delete {
    background-color: red;
}

/* ========new user===== */
.card i {
  color: #ED7D3A;
  padding: 100px;

}
/* ==========cart========= */
#btn-cart {
    color: #ED7D3A;
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    width: 35%; 
}